@model IEnumerable<FaktureProject.Data.Models.Faktura>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BrojFakture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumStvaranjaFakture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DatumDospijecaFakture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UkupnaCijenaBezPoreza)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UkupnaCijenaSPorezom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Korisnik)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Primatelj)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BrojFakture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatumStvaranjaFakture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatumDospijecaFakture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UkupnaCijenaBezPoreza)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UkupnaCijenaSPorezom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Korisnik)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Primatelj)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
