@model IEnumerable<FaktureProject.Data.Models.Stavka>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Faktura.BrojFakture)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OpisStavke)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.KolicinaStavke)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CijenaStavke)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UkupnaCijena)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Faktura.BrojFakture)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OpisStavke)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.KolicinaStavke)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CijenaStavke)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UkupnaCijena)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
